.bodyWraper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 10px;
	align-self: center;
}

.img {
	
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.button {
	width: 100px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #fff;
	background: #0BAEDA;
	color: #fff;
}

.bodyItem {
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.logoArea {
	text-align: center;
}

.descriptionWraper {
	margin-left: 20px;
}

.description {

}

.name {
	font-weight: 600;
	font-size: 18px;
}

.status {

}

.location {

}

.selectedPage {
	font-weight: bold;
}

.button:hover {
	background: #00677E;
}

.button:active {
	background: #87CEFA;
}

.paginatorWraper {
	text-align: center;
}