.bodyWraper {
	display: flex;
	margin: 10px;
	color: #545454;
	align-self: center;
	margin-left: 20px;
}

.img {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.button {
	width: 100px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #fff;
	background: #0BAEDA;
	color: #fff;
}

.bodyItem {
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 10px;
	margin-left: 50px;
}

.descriptionWraper {
	
}

.description {

}

.name {

}

.status {

}

.location {

}