.container {
	display: flex;
	justify-content: space-between;
}

.header{
	grid-area: h;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
}
 
.header img{
	width: 100px;
	margin: 5px 0 0 15px;
}

.buttonWraper {
	align-self: center;
	margin-right: 20px;
}

.buttonLeft {
	width: 80px;
	height: 30px;
	border-radius: 15px 0 0 15px;
	border: 1px solid #fff;
	background: #0BAEDA;
	color: #fff;
}

.buttonRight {
	width: 80px;
	height: 30px;
	border-radius: 0 15px 15px 0;
	border: 1px solid #fff;
	background: #0BAEDA;
	color: #fff;
}


