.background img{
	width: 800px;
	height: 200px;
	border-radius: 10px;
}

.descriptionBlock{
	display: flex;
	padding: 0px;
}

.descriptionBlock img{
	position: relative;
	float: top;
	margin-top: -50%;
	margin-left: 20px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 5px solid #fff ;
}

.infoSectionWraper {
	margin: 10px;
}

.title {
	font-size: 27px;
	font-weight: 600;
	margin: 5px;
}

.description {
	font-size: 20px;
	margin: 5px;
}

.location {
	color: #545454;
	margin-left: 5px;
}

.contactInfo {
	color: #545454;
	margin-left: 5px;
}

.interests {
	color: #545454;
	margin-left: 5px;
}

